* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --brand-color-light: #60a5fa;
  --brand-color-dark: #1d4ed8;
  --bg-color: #0f172a;
  --stroke-color: #1e293b;
  --text-color-primary: #f1f5f9;
  --text-color-secondary: #cbd5e1;
  --font-family: "Archivo", sans-serif;
  --heading1: 800 24px/135% var(--font-family);
  --heading2: 800 16px/140% var(--font-family);
  --heading3: 800 14px/140% var(--font-family);
  --span: 600 14px/145% var(--font-family);
  --small: 600 14px/145% var(--font-family);
  --text: 400 16px/140% var(--font-family);
  --text-sm: 400 14px/160% var(--font-family);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  font: var(--text);
}

.container {
  max-width: 393px;
  padding-inline: 32px;
  margin-inline: auto;
}

@media (width >= 80em) {
  .container {
    max-width: 80rem;
  }
  main {
    display: grid;
    margin-block: 40px;
    row-gap: 80px;
    column-gap: 32px;
    grid-template-columns: 2fr 1.4fr;
    grid-template-areas:
      "highlights highlights"
      "weekly weekly"
      "ai aside";
  }
}


img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color-light);
}

h2 {
  font: var(--heading2);
}

h1 {
  font: var(--heading1);
}
