nav {
  /* align-items: center;
  display: flex;
  justify-content: space-between; */
  padding-block: 14px;
  display: grid;
  justify-content: space-between;
  grid-auto-flow: column;
  border-bottom: 2px solid var(--stroke-color);
  border-inline: none;
}

.menu {
  gap: 8px;
  display: flex;
  align-items: center;
}

.logo {
  color: var(--brand-color-light);
}

nav a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

/* hover effect on nav icons */
nav a img {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
  transition: filter 0.2s ease;
}

nav a:hover img {
  filter: brightness(0) saturate(100%) invert(70%) sepia(49%) saturate(680%)
    hue-rotate(190deg) brightness(90%) contrast(92%);
}
