.weekly header {
  padding-block: 12px 24px;
  font: var(--span);
}
.weekly {
  header a {
    justify-self: end;
    align-items: center;
    gap: 8px;

    span {
      background-image: url(../assets/icons/ArrowRight1.svg);
      background-repeat: no-repeat;
      height: 16px;
      width: 16px;
    }
    &:hover span {
      background-image: url(../assets/icons/ArrowRightHover.svg);
    }
  }

  & > div {
    grid-template-columns: repeat(4, 292px);
    justify-content: space-between;
  }

  img {
    /* display: block;
    object-fit: cover; */
    height: 160px;
    /* max-width: 100%; */
    /* min-width: 100%; */
  }
}

.weekly .weekly-card {
  position: relative;
  .tag {
    position: absolute;
    top: 8px;
    left: 8px;
  }
  p {
    margin-top: 8px;
    font-weight: 900;
    font: var(--heading2);
  }
}

/* .weekly-card  */
